<footer class="footer">
  <p>Copyright © Andrew D. Zoneneberg and individual contributors to ngscopeclient.</p>
  <p>Except where otherwise noted, this document site and Antora UI are licensed under the terms of the MPL-2.0 license.</p>
</footer>
